[submodule "tools/matlab/STRAIGHT"]
	path = tools/matlab/STRAIGHT
	url = https://github.com/petronny/STRAIGHT
[submodule "tools/STRAIGHT"]
	path = tools/STRAIGHT
	url = https://github.com/petronny/STRAIGHT
